# GitLab CI in conjunction with GitLab Runner can use Docker Engine to test and build any application.
# Docker, when used with GitLab CI, runs each job in a separate and isolated container using the predefined image that is set up in .gitlab-ci.yml.
# In this case we use the latest python docker image to build and test this project.
image: $SKA_K8S_TOOLS_BUILD_DEPLOY

variables:
  CHARTS_TO_PUBLISH: ska-mid-dish-manager
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - lint
  - build
  - test
  - publish
  - pages
  - scan

# Standardised included jobs

include:
  # Helm Chart linting and Publish
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/helm-chart.gitlab-ci.yml'

  # Python packages build,lint, test and publish
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/python.gitlab-ci.yml'

  # OCI images build and publish
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/oci-image.gitlab-ci.yml'

  # k8s test
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/k8s-test-runner.gitlab-ci.yml'

  # Docs pages
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/docs.gitlab-ci.yml'

  # Create Gitlab CI badges from CI metrics
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/finaliser.gitlab-ci.yml'

  # Create a release
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/release.gitlab-ci.yml'

python-test-forked:
  extends: python-test
  script:
    - make python-test-forked;

mypy:
  stage: lint
  script:
    - pip install mypy
    - mypy --ignore-missing-imports --config-file mypy.ini
      src/ska_mid_dish_manager/component_managers/ds_cm.py
      src/ska_mid_dish_manager/component_managers/spf_cm.py
      src/ska_mid_dish_manager/component_managers/spfrx_cm.py
      src/ska_mid_dish_manager/models/dish_mode_model.py
      src/ska_mid_dish_manager/models/dish_state_transition.py
  allow_failure: true

k8s-test-runner:
  variables:
     K8S_TEST_RUNNER_MARK: "acceptance and not movement"
     KUBE_NAMESPACE: "ci-$(CI_PROJECT_NAME)-$(CI_JOB_ID)"
     VALUES_FILE: charts/ska-mid-dish-manager/custom_helm_flags.yaml

k8s-test-runner-movement:
  extends: k8s-test-runner
  variables:
    K8S_TEST_RUNNER_MARK: "movement"
    KUBE_NAMESPACE: "ci-$(CI_PROJECT_NAME)-$(CI_JOB_ID)"
    VALUES_FILE: charts/ska-mid-dish-manager/minimal_deployment_helm_flags.yaml

# runs multiple acceptance tests in parallel with minimal deployment
k8s-test-runner-parallel:
  extends: k8s-test-runner
  parallel: 3
  allow_failure: true
  when: manual
  variables:
    K8S_TEST_RUNNER_MARK: "acceptance"
    KUBE_NAMESPACE: "ci-$(CI_PROJECT_NAME)-$(CI_JOB_ID)"
    VALUES_FILE: charts/ska-mid-dish-manager/minimal_deployment_helm_flags.yaml

k8s-test-runner-track-patterns:
  extends: k8s-test-runner
  allow_failure: true
  when: manual
  variables:
    K8S_TEST_RUNNER_MARK: "track_patterns"
    KUBE_NAMESPACE: "ci-$(CI_PROJECT_NAME)-$(CI_JOB_ID)"
    VALUES_FILE: charts/ska-mid-dish-manager/minimal_deployment_helm_flags.yaml

stop-k8s-test-runner-movement:
  extends: stop-k8s-test-runner
  variables:
    KUBE_NAMESPACE: "ci-$(CI_PROJECT_NAME)-$(CI_JOB_ID)"
