apiVersion: v2
name: ska-mid-dish-manager
description: An application for the SKA Dish Manager TANGO device server(s).
type: application
version: 9.0.0
appVersion: 9.0.0
home: https://gitlab.com/ska-telescope/ska-mid-dish-manager/
icon: http://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
sources:
  - https://gitlab.com/ska-telescope/ska-mid-dish-manager/
maintainers:
  - name: Johan Venter
    email: jventer@sarao.ac.za
  - name: Samuel Twum
    email: samuel.twum@skao.int
  - name: Barbara Ojur
    email: bojur@sarao.ac.za
  - name: Devon Petrie
    email: dpetrie@sarao.ac.za
  - name: Abednigo Lethole
    email: alethole@sarao.ac.za
  - name: Umkhulu Silere
    email: usilere@sarao.ac.za
dependencies:
- name: ska-tango-util
  version: 1.0.4
  repository: https://artefact.skao.int/repository/helm-internal
- name: ska-tango-base
  version: 1.0.4
  repository: https://artefact.skao.int/repository/helm-internal
  condition: ska-tango-base.enabled
- name: ska-mid-dish-simulators
  version: 5.5.1
  repository: https://artefact.skao.int/repository/helm-internal
  condition: ska-mid-dish-simulators.enabled
- name: ska-mid-dish-ds-manager
  version: 7.0.3
  repository: https://artefact.skao.int/repository/helm-internal
  condition: ska-mid-dish-ds-manager.enabled
- name: ska-mid-wms
  version: 1.0.1
  repository: https://artefact.skao.int/repository/helm-internal
  condition: ska-mid-wms.enabled
