global:
  minikube: true
  operator: true
  dishes: ["001", "111"]

ska-mid-dish-ds-manager:
  enabled: true
  # Override the image to use a specific version for testing
  dishstructuremanager:
    image:
      registry: artefact.skao.int
      image: ska-mid-dish-ds-manager
      tag: 6.1.0
      pullPolicy: IfNotPresent

ska-tango-base:
  enabled: true

ska-mid-dish-simulators:
  enabled: true
  deviceServers:
    spfdevice:
      enabled: true
    spfrxdevice:
      enabled: true
  dsOpcuaSimulator:
    enabled: true

ska-mid-wms:
  enabled: true

dishmanager:
  wms:
    station_ids: ["1"]
