{{ $localchart := . }}

{{- range $key, $deviceserver := .Values.deviceServers }}

{{ if $deviceserver.enabled }}

{{- $_ := set  $localchart.Values "coalesced_dishes" ((coalesce $localchart.Values.global.dishes $deviceserver.instances ) | toStrings) }}

{{- if hasKey $deviceserver "file"}}

{{- $filedeviceserver := tpl ($.Files.Get $deviceserver.file) $ | fromYaml }}

{{- $safeInstances := list }}
{{- range $dish := $localchart.Values.global.dishes }}
  {{- $dishStr := printf "%v" $dish }}
  {{- $safeInstances = append $safeInstances ($dishStr | lower) }}
{{- end }}

# If it's a dish device, update the instances
{{- if hasKey $localchart.Values.global "dish_devices"  }}
{{- $_ := set $filedeviceserver "instances" $safeInstances }}
{{- end }}

{{- $context := dict "name" $key "deviceserver" $filedeviceserver "image" $deviceserver.image "local" $localchart }}

{{ template "ska-tango-util.multidevice-config.tpl" $context }}
{{ template "ska-tango-util.multidevice-sacc-role.tpl" $context }}
{{ template "ska-tango-util.multidevice-job.tpl" $context }}
{{ template "ska-tango-util.multidevice-svc.tpl" $context }}

{{- else }}

{{- $_ := set $deviceserver "instances" (coalesce $localchart.Values.global.instances $deviceserver.instances) }}
{{- $context := dict "name" $key "deviceserver" $deviceserver "image" $deviceserver.image "local" $localchart }}
{{ template "ska-tango-util.multidevice-config.tpl" $context }}
{{ template "ska-tango-util.multidevice-sacc-role.tpl" $context }}
{{ template "ska-tango-util.multidevice-job.tpl" $context }}
{{ template "ska-tango-util.multidevice-svc.tpl" $context }}

{{- end }}

{{- end }} # if enabled

{{- end }} # range deviceservers
